* {
	margin: 0;
}
.winner,
.try-again,
.score-board {
	display: none;
}

body {
	min-height: 100vh;
	background-image: url(https://i.imgur.com/JSplOvf.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
}

.start {
	display: grid;
	grid-template-rows: 2fr 3fr 2fr;
	min-height: 100vh;
	padding: 0 2rem;
	align-items: center;
	justify-items: center;
}

header {
	font-family: 'Mouse Memoirs', sans-serif;
	text-align: center;
	font-size: 70px;
	color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	-moz-text-stroke-width: 1.5px;
	-moz-text-stroke-color: black;
}
.info {
	align-self: end;
	text-align: center;
	line-height: 2em;
	font-size: 20px;
	color: black;
	-webkit-text-stroke-width: 0.1px;
	-webkit-text-stroke-color: white;
	-moz-text-stroke-width: 0.1px;
	-moz-text-stroke-color: white;
}
.controls {
	align-self: center;
}
.start-button {
	color: rgb(26, 26, 26);
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: white;
	-moz-text-stroke-width: 0.5px;
	-moz-text-stroke-color: white;
	font-size: 30px;
	font-weight: bold;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid;
	background: linear-gradient(to right, #ff8a00 0%, #da1b60 100%);
}

.game-container {
	display: grid;
	grid-template-rows: 10% 10% 80%;
	grid-template-columns: 10% 10% 60% 10% 10%;
	min-height: 100vh;
	align-items: center;
	justify-items: center;
}

.question-order {
	grid-row: 2;
	grid-column: 1 / span 2;
	margin-left: 80px;
	font-size: 25px;
	font-weight: 600;
	color: black;
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: white;
	-moz-text-stroke-width: 0.2px;
	-moz-text-stroke-color: white;
}
.question-control {
	grid-row: 3;
	grid-column: 3;
	align-self: center;
	text-align: center;
	margin: 10px;
}
.question {
	font-size: 50px;
	font-weight: 550;
	font-family: 'Mouse Memoirs', sans-serif;
	line-height: 1.2em;
	margin-top: 30px;
	color: white;
	-webkit-text-stroke-width: 1.5px;
	-webkit-text-stroke-color: black;
	-moz-text-stroke-width: 1.5px;
	-moz-text-stroke-color: black;
}

.answers-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	margin: 70px;
	gap: 15px;
	background: transparent;
}
.answer-button {
	font-size: 23px;
	color: black;
	border: 2px solid grey;
	border-radius: 15px;
	background-color: white;
	padding: 5px;
}
.answer-button:hover {
	border-color: black;
}
.score-board {
	grid-row: 2;
	grid-column: 4 / span 1;
	padding: 8px;
	border-radius: 15px;
	background-color: white;
}
.score {
	display: inline-block;
	font-size: 30px;
	color: green;
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: white;
	-moz-text-stroke-width: 0.2px;
	-moz-text-stroke-color: white;
}
.point {
	display: inline-block;
}
.hide-display {
	display: none;
}
.try-again {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	min-height: 100vh;
}
.try-again-score {
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 60px;
	color: white;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: black;
	-moz-text-stroke-width: 0.5px;
	-moz-text-stroke-color: black;
	grid-column: 2;
	text-align: center;
	align-self: end;
	margin-bottom: 50px;
}
.again {
	grid-row: 2;
	grid-column: 2;
	text-align: center;
	margin-top: 50px;
	font-size: 40px;
	font-family: 'Vesper Libre', serif;
	color: rgb(26, 26, 26);
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: white;
	-moz-text-stroke-width: 0.2px;
	-moz-text-stroke-color: white;
}
.try-again-button {
	grid-row: 3;
	grid-column: 2;
	margin: 100px;
	border-radius: 10px;
	background: linear-gradient(to right, #ff8a00 0%, #da1b60 100%);
	font-size: 20px;
	font-weight: 500;
}

.winner-message {
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 30px;
	font-weight: 600;
	font-size: 60px;
	color: black;
	-webkit-text-stroke-width: 0.4px;
	-webkit-text-stroke-color: white;
	-moz-text-stroke-width: 0.4px;
	-moz-text-stroke-color: white;
	margin-top: 50px;
}
span {
	color: #da381b;
	font-weight: bolder;
	font-size: 70px;
}
.congrats {
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 70px;
	opacity: 0.95;
	padding: 10px;
	background: linear-gradient(to right, #f56112 0%, #da1b60 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	margin-top: 50px;
}
.winner {
	background: url(https://i.imgur.com/WSWBRJx.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 6rem;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 10;
	opacity: 1;
	pointer-events: none;
	height: 100vh;
	width: 100vw;
}
